body {
    background-color: #427aa1;
    color: #05668d;
    font-size: 5em;
    text-align: center;
    margin: 0px;
    text-shadow: 0 0 0px black;
    margin-top: 50px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 0 0 calc(80% / 3); 
    height: 400px;    
    width: 400px;
    background-color: #ebf2fa;
    margin: 5px;
    border: 10px solid #679436;
    border-radius: 4%;
    box-sizing: border-box;
    transition: all 0.5s ease;
}
.box:hover {
    transform: scale(1.05);
}
@media (max-width: 767px) {
    .box {
      flex-basis: calc(90% / 1);
    }
}
.apply-button {
    background-color: #679436;
    text-shadow: 0 0 0px black;
    color: #427aa1;
    border: solid 4px;
    padding: 10px 20px;
    font-size: 48px;
    
}
.input-field {
    background-color: #679436;
    color: #427aa1;
    font-size: 24px;
    border: solid 4px;    
}
footer {
    background-color: #679436;
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
}
footer p {
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
p {
    border: solid 3px red;
    margin: 0;
}
img {
    border: solid 3px violet;
}