body {
    background-color: #427aa1;
    color: #05668d;
    font-size: 5em;
    text-align: center;
    margin: 0px;
    text-shadow: 0 0 0px black;
    margin-top: 50px;
}
.container {
    border: 10px solid #679436;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
}
.box {

}
.top {
    width: 80%;
}
.bottom {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
p {
    border: 3px solid red;
}
img {
    border: 3px solid red;
}