body {
    background-color: #427aa1;
    color: #05668d;
    font-size: 5em;
    text-align: center;
    margin: 0px;
    text-shadow: 0 0 0px black;
    margin-top: 50px;
}
.container {
    flex-direction: row;
    border: 10px solid #679436;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    background-color: #ebf2fa;
    align-items: center;
}
.box {
    margin: auto 0;
    border: 3px solid red;
}
.top {
    width: 100%;
    margin: 0;
}
.bottom {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
p {
    border: 3px solid red;
    margin: 0;
}
img {
    border: 3px solid red;
    margin: 0;
}
h3 {
    margin: 0;
}
label {
    font-size: 50px;
    display: block;
    margin-bottom: 5px;
    
}
input {
    display: block;
    background-color: #a5be00;
    border: 10px solid #679436;
    border-radius: 10px;
    color: #05668d;
    padding: 0;
    font-size: 50px;
    width: 300px;
    margin: 0 auto;

}
select {
    margin: 0 auto;
    background-color: #a5be00;
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 10px solid #679436;
    color: #05668d;
    font-size: 50px;
    padding: 0;
}
@media screen and (max-width: 768px) {
    h3 {
        font-size: 40px;
    }
    .container {
      width: 100%;
      height: auto;
      border: none;
      flex-direction: column;
    }
  
    .box {
      margin: 10px 0;
    }
  
    .top,
    .bottom {
      width: 100%;
    }
  
    .bottom {
      display: block;
    }
}